# Project 2: Data Import - Working with Web APIs and JSON (Movies Dataset)

## Importing Data from JSON files

In [1]:
import pandas as pd 
import json

In [33]:
with open("blockbusters3.json") as f:
    data =json.load(f)

In [34]:
data

{'columns': ['title',
  'id',
  'revenue',
  'genres',
  'belongs_to_collection',
  'runtime'],
 'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
 'data': [['Avengers: Endgame',
   299534,
   2797800564,
   [{'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 28, 'name': 'Action'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   181],
  ['Avatar',
   19995,
   2787965087,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 14, 'name': 'Fantasy'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 87096,
    'name': 'Avatar Collection',
    'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
    'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
   162],
  ['Star Wars: The Force Awakens',
   140607,
   2068223624,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 14, 'name': 'Fantasy'}],
   {'id': 10,
    'name': 'Star Wars Collection',
    'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
    'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
   136],
  ['Avengers: Infinity War',
   299536,
   2046239637,
   [{'id': 12, 'name': 'Adventure'},
    {'id': 28, 'name': 'Action'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   149],
  ['Titanic',
   597,
   1845034188,
   [{'id': 18, 'name': 'Drama'},
    {'id': 10749, 'name': 'Romance'},
    {'id': 53, 'name': 'Thriller'}],
   None,
   194],
  ['Jurassic World',
   135397,
   1671713208,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 53, 'name': 'Thriller'}],
   {'id': 328,
    'name': 'Jurassic Park Collection',
    'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
    'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
   124],
  ['The Lion King',
   420818,
   1656943394,
   [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
   None,
   118],
  ['The Avengers',
   24428,
   1519557910,
   [{'id': 878, 'name': 'Science Fiction'},
    {'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   143],
  ['Furious 7',
   168259,
   1506249360,
   [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
   {'id': 9485,
    'name': 'The Fast and the Furious Collection',
    'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg',
    'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
   137],
  ['Avengers: Age of Ultron',
   99861,
   1405403694,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   141],
  ['Black Panther',
   284054,
   1346739107,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 14, 'name': 'Fantasy'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 529892,
    'name': 'Black Panther Collection',
    'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
    'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
   134],
  ['Harry Potter and the Deathly Hallows: Part 2',
   12445,
   1341511219,
   [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
   {'id': 1241,
    'name': 'Harry Potter Collection',
    'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
    'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'},
   130],
  ['Star Wars: The Last Jedi',
   181808,
   1332539889,
   [{'id': 14, 'name': 'Fantasy'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 28, 'name': 'Action'}],
   {'id': 10,
    'name': 'Star Wars Collection',
    'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
    'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
   152],
  ['Frozen II',
   330457,
   1330764959,
   [{'id': 16, 'name': 'Animation'},
    {'id': 10751, 'name': 'Family'},
    {'id': 12, 'name': 'Adventure'}],
   {'id': 386382,
    'name': 'Frozen Collection',
    'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
    'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
   104],
  ['Jurassic World: Fallen Kingdom',
   351286,
   1303459585,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 328,
    'name': 'Jurassic Park Collection',
    'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
    'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
   129],
  ['Frozen',
   109445,
   1274219009,
   [{'id': 16, 'name': 'Animation'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 10751, 'name': 'Family'}],
   {'id': 386382,
    'name': 'Frozen Collection',
    'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
    'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
   102],
  ['Beauty and the Beast',
   321612,
   1263521126,
   [{'id': 10751, 'name': 'Family'},
    {'id': 14, 'name': 'Fantasy'},
    {'id': 10749, 'name': 'Romance'}],
   None,
   129],
  ['Incredibles 2',
   260513,
   1241891456,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 16, 'name': 'Animation'},
    {'id': 10751, 'name': 'Family'}],
   {'id': 468222,
    'name': 'The Incredibles Collection',
    'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg',
    'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg'},
   118]]}

In [35]:
type(data)

dict

In [36]:
len(data)

3

In [37]:
data[0]

KeyError: 0

In [38]:
df=pd.DataFrame(data)
df

ValueError: All arrays must be of the same length

In [40]:
df=pd.read_json("blockbusters3.json", orient="split")
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  18 non-null     object
 1   id                     18 non-null     int64
 2   revenue                18 non-null     int64
 3   genres                 18 non-null     object
 4   belongs_to_collection  15 non-null     object
 5   runtime                18 non-null     int64
dtypes: int64(3), object(3)
memory usage: 992.0+ bytes

In [12]:
df.genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [14]:
df.belongs_to_collection[0]

{'id': 86311,
 'name': 'The Avengers Collection',
 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'}

In [41]:
pd.json_normalize(data=data,sep="_")

,columns,index,data
0,"[title, id, revenue, genres, belongs_to_collec...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[[Avengers: Endgame, 299534, 2797800564, [{'id..."

In [17]:
pd.json_normalize(data=data, sep="_").genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [24]:
pd.json_normalize(data=data, record_path="genres", meta=["title", "id"], record_prefix="genre_")

,genre_id,genre_name,title,id
0,12,Adventure,Avengers: Endgame,299534
1,878,Science Fiction,Avengers: Endgame,299534
2,28,Action,Avengers: Endgame,299534
3,28,Action,Avatar,19995
4,12,Adventure,Avatar,19995
5,14,Fantasy,Avatar,19995
6,878,Science Fiction,Avatar,19995
7,28,Action,Star Wars: The Force Awakens,140607
8,12,Adventure,Star Wars: The Force Awakens,140607
9,878,Science Fiction,Star Wars: The Force Awakens,140607
10,14,Fantasy,Star Wars: The Force Awakens,140607
11,12,Adventure,Avengers: Infinity War,299536
12,28,Action,Avengers: Infinity War,299536
13,878,Science Fiction,Avengers: Infinity War,299536
14,18,Drama,Titanic,597
15,10749,Romance,Titanic,597
16,53,Thriller,Titanic,597
17,28,Action,Jurassic World,135397
18,12,Adventure,Jurassic World,135397
19,878,Science Fiction,Jurassic World,135397
20,53,Thriller,Jurassic World,135397
21,12,Adventure,The Lion King,420818
22,10751,Family,The Lion King,420818
23,878,Science Fiction,The Avengers,24428
24,28,Action,The Avengers,24428
25,12,Adventure,The Avengers,24428
26,28,Action,Furious 7,168259
27,53,Thriller,Furious 7,168259
28,28,Action,Avengers: Age of Ultron,99861
29,12,Adventure,Avengers: Age of Ultron,99861
30,878,Science Fiction,Avengers: Age of Ultron,99861
31,28,Action,Black Panther,284054
32,12,Adventure,Black Panther,284054
33,14,Fantasy,Black Panther,284054
34,878,Science Fiction,Black Panther,284054
35,14,Fantasy,Harry Potter and the Deathly Hallows: Part 2,12445
36,12,Adventure,Harry Potter and the Deathly Hallows: Part 2,12445
37,14,Fantasy,Star Wars: The Last Jedi,181808
38,12,Adventure,Star Wars: The Last Jedi,181808
39,878,Science Fiction,Star Wars: The Last Jedi,181808
40,28,Action,Star Wars: The Last Jedi,181808
41,16,Animation,Frozen II,330457
42,10751,Family,Frozen II,330457
43,12,Adventure,Frozen II,330457
44,28,Action,Jurassic World: Fallen Kingdom,351286
45,12,Adventure,Jurassic World: Fallen Kingdom,351286
46,878,Science Fiction,Jurassic World: Fallen Kingdom,351286
47,16,Animation,Frozen,109445
48,12,Adventure,Frozen,109445
49,10751,Family,Frozen,109445
50,10751,Family,Beauty and the Beast,321612
51,14,Fantasy,Beauty and the Beast,321612
52,10749,Romance,Beauty and the Beast,321612
53,28,Action,Incredibles 2,260513
54,12,Adventure,Incredibles 2,260513
55,16,Animation,Incredibles 2,260513
56,10751,Family,Incredibles 2,260513

In [26]:
with open("blockbusters2.json") as f:
    data=json.load(f)

In [27]:
data

{'title': {'0': 'Avengers: Endgame',
  '1': 'Avatar',
  '2': 'Star Wars: The Force Awakens',
  '3': 'Avengers: Infinity War',
  '4': 'Titanic',
  '5': 'Jurassic World',
  '6': 'The Lion King',
  '7': 'The Avengers',
  '8': 'Furious 7',
  '9': 'Avengers: Age of Ultron',
  '10': 'Black Panther',
  '11': 'Harry Potter and the Deathly Hallows: Part 2',
  '12': 'Star Wars: The Last Jedi',
  '13': 'Frozen II',
  '14': 'Jurassic World: Fallen Kingdom',
  '15': 'Frozen',
  '16': 'Beauty and the Beast',
  '17': 'Incredibles 2'},
 'id': {'0': 299534,
  '1': 19995,
  '2': 140607,
  '3': 299536,
  '4': 597,
  '5': 135397,
  '6': 420818,
  '7': 24428,
  '8': 168259,
  '9': 99861,
  '10': 284054,
  '11': 12445,
  '12': 181808,
  '13': 330457,
  '14': 351286,
  '15': 109445,
  '16': 321612,
  '17': 260513},
 'revenue': {'0': 2797800564,
  '1': 2787965087,
  '2': 2068223624,
  '3': 2046239637,
  '4': 1845034188,
  '5': 1671713208,
  '6': 1656943394,
  '7': 1519557910,
  '8': 1506249360,
  '9': 1405403694,
  '10': 1346739107,
  '11': 1341511219,
  '12': 1332539889,
  '13': 1330764959,
  '14': 1303459585,
  '15': 1274219009,
  '16': 1263521126,
  '17': 1241891456},
 'genres': {'0': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  '1': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  '2': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  '3': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  '4': [{'id': 18, 'name': 'Drama'},
   {'id': 10749, 'name': 'Romance'},
   {'id': 53, 'name': 'Thriller'}],
  '5': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  '6': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  '7': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  '8': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  '9': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  '10': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  '11': [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
  '12': [{'id': 14, 'name': 'Fantasy'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  '13': [{'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'},
   {'id': 12, 'name': 'Adventure'}],
  '14': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  '15': [{'id': 16, 'name': 'Animation'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 10751, 'name': 'Family'}],
  '16': [{'id': 10751, 'name': 'Family'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 10749, 'name': 'Romance'}],
  '17': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'}]},
 'belongs_to_collection': {'0': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  '1': {'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
   'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
  '2': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  '3': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  '4': None,
  '5': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  '6': None,
  '7': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  '8': {'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg',
   'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
  '9': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  '10': {'id': 529892,
   'name': 'Black Panther Collection',
   'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
   'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
  '11': {'id': 1241,
   'name': 'Harry Potter Collection',
   'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
   'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'},
  '12': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  '13': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  '14': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  '15': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  '16': None,
  '17': {'id': 468222,
   'name': 'The Incredibles Collection',
   'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg',
   'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg'}},
 'runtime': {'0': 181,
  '1': 162,
  '2': 136,
  '3': 149,
  '4': 194,
  '5': 124,
  '6': 118,
  '7': 143,
  '8': 137,
  '9': 141,
  '10': 134,
  '11': 130,
  '12': 152,
  '13': 104,
  '14': 129,
  '15': 102,
  '16': 129,
  '17': 118}}

In [28]:
type(data)

dict

In [29]:
len(data)

6

In [30]:
df=pd.DataFrame(data)
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [31]:
df=pd.read_json("blockbusters2.json")
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [32]:
pd.json_normalize(data=data, sep="_")

,title_0,title_1,title_2,title_3,title_4,title_5,title_6,title_7,title_8,title_9,...,runtime_8,runtime_9,runtime_10,runtime_11,runtime_12,runtime_13,runtime_14,runtime_15,runtime_16,runtime_17
0,Avengers: Endgame,Avatar,Star Wars: The Force Awakens,Avengers: Infinity War,Titanic,Jurassic World,The Lion King,The Avengers,Furious 7,Avengers: Age of Ultron,...,137,141,134,130,152,104,129,102,129,118

In [43]:
api_key  = "api_key=f99d8cce3d18afb0eb316bb5c0ed0c38"

## Working with APIs and JSON

In [44]:
import  pandas as pd
import requests
pd.options.display.max_columns=30

In [45]:
movie_id=140607

In [52]:
movie_api="https://api.themoviedb.org/3/movie/{}?"
movie_api

'https://api.themoviedb.org/3/movie/{}?'

In [53]:
url=movie_api.format(movie_id) + api_key
url

'https://api.themoviedb.org/3/movie/140607?api_key=f99d8cce3d18afb0eb316bb5c0ed0c38'

In [54]:
r=requests.get(url)
r

In [55]:
data=r.json()

In [56]:
data

{'adult': False,
 'backdrop_path': '/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg',
 'belongs_to_collection': {'id': 10,
  'name': 'Star Wars Collection',
  'poster_path': '/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg',
  'backdrop_path': '/zZDkgOmFMVYpGAkR9Tkxw0CRnxX.jpg'},
 'budget': 245000000,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.starwars.com/films/star-wars-episode-vii',
 'id': 140607,
 'imdb_id': 'tt2488496',
 'original_language': 'en',
 'original_title': 'Star Wars: The Force Awakens',
 'overview': 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.',
 'popularity': 71.652,
 'poster_path': '/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg',
 'production_companies': [{'id': 1,
   'logo_path': '/tlVSws0RvvtPBwViUyOFAO0vcQS.png',
   'name': 'Lucasfilm Ltd.',
   'origin_country': 'US'},
  {'id': 11461,
   'logo_path': '/p9FoEt5shEKRWRKVIlvFaEmRnun.png',
   'name': 'Bad Robot',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2015-12-15',
 'revenue': 2068223624,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Every generation has a story.',
 'title': 'Star Wars: The Force Awakens',
 'video': False,
 'vote_average': 7.289,
 'vote_count': 18563}

In [57]:
type(data)

dict

In [61]:
pd.Series(data)

adult                                                                False
backdrop_path                             /8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg
belongs_to_collection    {'id': 10, 'name': 'Star Wars Collection', 'po...
budget                                                           245000000
genres                   [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
homepage                 http://www.starwars.com/films/star-wars-episod...
id                                                                  140607
imdb_id                                                          tt2488496
original_language                                                       en
original_title                                Star Wars: The Force Awakens
overview                 Thirty years after defeating the Galactic Empi...
popularity                                                          71.652
poster_path                               /wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg
production_companies     [{'id': 1, 'logo_path': '/tlVSws0RvvtPBwViUyOF...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    2015-12-15
revenue                                                         2068223624
runtime                                                                136
spoken_languages         [{'english_name': 'English', 'iso_639_1': 'en'...
status                                                            Released
tagline                                      Every generation has a story.
title                                         Star Wars: The Force Awakens
video                                                                False
vote_average                                                         7.289
vote_count                                                           18563
dtype: object

In [62]:
df=pd.Series(data).to_frame().T
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,71.652,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/tlVSws0RvvtPBwViUyOF...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.289,18563

In [63]:
pd.json_normalize(data, sep="_")

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,71.652,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/tlVSws0RvvtPBwViUyOF...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.289,18563,10,Star Wars Collection,/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg,/zZDkgOmFMVYpGAkR9Tkxw0CRnxX.jpg

In [64]:
pd.json_normalize(data=data, record_path="genres",  meta= "title")

    id             name                         title
0   12        Adventure  Star Wars: The Force Awakens
1   28           Action  Star Wars: The Force Awakens
2  878  Science Fiction  Star Wars: The Force Awakens

In [65]:
pd.json_normalize(data=data, record_path="production_companies", meta="title")

,id,logo_path,name,origin_country,title
0,1,/tlVSws0RvvtPBwViUyOFAO0vcQS.png,Lucasfilm Ltd.,US,Star Wars: The Force Awakens
1,11461,/p9FoEt5shEKRWRKVIlvFaEmRnun.png,Bad Robot,US,Star Wars: The Force Awakens

In [66]:
import pandas as pd 
import requests
pd.options.display.max_columns=30

In [75]:
discover_api="https://api.themoviedb.org/3/discover/movie?"

In [93]:
query="&primary_release_date.gte=2020-01-01&primary_release_date.lte=2020-02-29&page=2"

In [94]:
query="&primary_release_date.gte=2020-01-01&primary_release_date.lte=2020-02-29"
url= discover_api+api_key+query

In [95]:
data=requests.get(url).json()

In [96]:
data

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/7dCzb1oa7ACYi66VIrE1wqmftAa.jpg',
   'genre_ids': [28],
   'id': 660521,
   'original_language': 'en',
   'original_title': 'The Mercenary',
   'overview': 'When a mission in South America goes wrong a mercenary is left for dead, but he is nursed back to health and reborn with a new outlook on life. But his peaceful days are short-lived when mercenaries he used to work with cross his path again and he is forced to revisit and face his own demons.',
   'popularity': 123.195,
   'poster_path': '/p3wgefagejlefFEDsLRHiXU7NGu.jpg',
   'release_date': '2020-01-07',
   'title': 'The Mercenary',
   'video': False,
   'vote_average': 6.3,
   'vote_count': 23},
  {'adult': False,
   'backdrop_path': '/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg',
   'genre_ids': [28, 878, 35, 10751],
   'id': 454626,
   'original_language': 'en',
   'original_title': 'Sonic the Hedgehog',
   'overview': 'Powered with incredible speed, Sonic The Hedgehog embraces his new home on Earth. That is, until Sonic sparks the attention of super-uncool evil genius Dr. Robotnik. Now it’s super-villain vs. super-sonic in an all-out race across the globe to stop Robotnik from using Sonic’s unique power for world domination.',
   'popularity': 90.644,
   'poster_path': '/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg',
   'release_date': '2020-02-12',
   'title': 'Sonic the Hedgehog',
   'video': False,
   'vote_average': 7.3,
   'vote_count': 9028},
  {'adult': False,
   'backdrop_path': '/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg',
   'genre_ids': [28, 80],
   'id': 495764,
   'original_language': 'en',
   'original_title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'overview': 'Harley Quinn joins forces with a singer, an assassin and a police detective to help a young girl who had a hit placed on her after she stole a rare diamond from a crime lord.',
   'popularity': 66.644,
   'poster_path': '/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg',
   'release_date': '2020-02-05',
   'title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'video': False,
   'vote_average': 6.9,
   'vote_count': 9787},
  {'adult': False,
   'backdrop_path': '/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg',
   'genre_ids': [12, 10751, 18],
   'id': 481848,
   'original_language': 'en',
   'original_title': 'The Call of the Wild',
   'overview': 'Buck is a big-hearted dog whose blissful domestic life is turned upside down when he is suddenly uprooted from his California home and transplanted to the exotic wilds of the Yukon during the Gold Rush of the 1890s. As the newest rookie on a mail delivery dog sled team—and later its leader—Buck experiences the adventure of a lifetime, ultimately finding his true place in the world and becoming his own master.',
   'popularity': 61.002,
   'poster_path': '/33VdppGbeNxICrFUtW2WpGHvfYc.jpg',
   'release_date': '2020-02-19',
   'title': 'The Call of the Wild',
   'video': False,
   'vote_average': 7.6,
   'vote_count': 3465},
  {'adult': False,
   'backdrop_path': '/3N316jUSdhvPyYTW29G4v9ebbcS.jpg',
   'genre_ids': [53, 28, 80],
   'id': 38700,
   'original_language': 'en',
   'original_title': 'Bad Boys for Life',
   'overview': 'Marcus and Mike are forced to confront new threats, career changes, and midlife crises as they join the newly created elite team AMMO of the Miami police department to take down the ruthless Armando Armas, the vicious leader of a Miami drug cartel.',
   'popularity': 53.585,
   'poster_path': '/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg',
   'release_date': '2020-01-15',
   'title': 'Bad Boys for Life',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 7638},
  {'adult': False,
   'backdrop_path': '/tintsaQ0WLzZsTMkTiqtMB3rfc8.jpg',
   'genre_ids': [28, 80, 35],
   'id': 522627,
   'original_language': 'en',
   'original_title': 'The Gentlemen',
   'overview': 'American expat Mickey Pearson has built a highly profitable marijuana empire in London. When word gets out that he’s looking to cash out of the business forever it triggers plots, schemes, bribery and blackmail in an attempt to steal his domain out from under him.',
   'popularity': 48.38,
   'poster_path': '/jtrhTYB7xSrJxR1vusu99nvnZ1g.jpg',
   'release_date': '2020-01-01',
   'title': 'The Gentlemen',
   'video': False,
   'vote_average': 7.7,
   'vote_count': 5225},
  {'adult': False,
   'backdrop_path': '/jRweromdBoFchxYF6vn6E4wEJla.jpg',
   'genre_ids': [10749, 35],
   'id': 565426,
   'original_language': 'en',
   'original_title': 'To All the Boys: P.S. I Still Love You',
   'overview': 'Lara Jean and Peter have just taken their romance from pretend to officially real when another recipient of one of her love letters enters the picture.',
   'popularity': 40.881,
   'poster_path': '/maib5VlmEqp5xlN8lptnBSftp2o.jpg',
   'release_date': '2020-02-12',
   'title': 'To All the Boys: P.S. I Still Love You',
   'video': False,
   'vote_average': 6.9,
   'vote_count': 2426},
  {'adult': False,
   'backdrop_path': '/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg',
   'genre_ids': [27, 878, 28, 12],
   'id': 443791,
   'original_language': 'en',
   'original_title': 'Underwater',
   'overview': 'After an earthquake destroys their underwater station, six researchers must navigate two miles along the dangerous, unknown depths of the ocean floor to make it to safety in a race against time.',
   'popularity': 40.479,
   'poster_path': '/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg',
   'release_date': '2020-01-08',
   'title': 'Underwater',
   'video': False,
   'vote_average': 6.3,
   'vote_count': 2873},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [],
   'id': 678583,
   'original_language': 'en',
   'original_title': 'Some Be',
   'overview': '',
   'popularity': 36.47,
   'poster_path': '/qTwCz9Gjm7Lt8BBXygXar6mhKdN.jpg',
   'release_date': '2020-01-01',
   'title': 'Some Be',
   'video': False,
   'vote_average': 5,
   'vote_count': 2},
  {'adult': False,
   'backdrop_path': '/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg',
   'genre_ids': [10751, 16, 12, 35, 14],
   'id': 508439,
   'original_language': 'en',
   'original_title': 'Onward',
   'overview': 'In a suburban fantasy world, two teenage elf brothers embark on an extraordinary quest to discover if there is still a little magic left out there.',
   'popularity': 37.522,
   'poster_path': '/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg',
   'release_date': '2020-02-29',
   'title': 'Onward',
   'video': False,
   'vote_average': 7.7,
   'vote_count': 5790},
  {'adult': False,
   'backdrop_path': '/ySHlkHDbXztjdjRJ0pZN7FXRnaW.jpg',
   'genre_ids': [16, 12, 28, 14],
   'id': 631132,
   'original_language': 'ja',
   'original_title': "ゴブリンスレイヤー -GOBLIN'S CROWN-",
   'overview': 'Goblin Slayer and his party head up to the snowy mountains in the north after receiving that request from the Sword Maiden to find any information on the Noble Fencer that disappeared after leaving to slay some goblins. A small village gets attacked, they encounter a mysterious chapel, and something about how these goblins are acting bothers the Goblin slayer.  In order to save the captured Noble Fencer, the Goblin Slayer and his party head to an ancient fortress covered in snow to face off with a powerful foe and a horde of goblins!',
   'popularity': 33.146,
   'poster_path': '/oyDaF4za9C9GxfYSyZUmj2aZGJT.jpg',
   'release_date': '2020-02-01',
   'title': "Goblin Slayer -Goblin's Crown-",
   'video': False,
   'vote_average': 7.4,
   'vote_count': 238},
  {'adult': False,
   'backdrop_path': '/3pIqd1hgZ2xqzWEyiYp4blqE9Fi.jpg',
   'genre_ids': [53, 36, 18],
   'id': 522241,
   'original_language': 'en',
   'original_title': 'The Courier',
   'overview': 'Cold War spy Greville Wynne and his Russian source try to put an end to the Cuban Missile Crisis.',
   'popularity': 28.227,
   'poster_path': '/zFIjKtZrzhmc7HecdFXXjsLR2Ig.jpg',
   'release_date': '2020-01-24',
   'title': 'The Courier',
   'video': False,
   'vote_average': 7,
   'vote_count': 1000},
  {'adult': False,
   'backdrop_path': '/AgkGh4epJyhvs9JqSEUVABz1gJh.jpg',
   'genre_ids': [10751, 35, 14, 12],
   'id': 448119,
   'original_language': 'en',
   'original_title': 'Dolittle',
   'overview': 'After losing his wife seven years earlier, the eccentric Dr. John Dolittle, famed doctor and veterinarian of Queen Victoria’s England, hermits himself away behind the high walls of Dolittle Manor with only his menagerie of exotic animals for company. But when the young queen falls gravely ill, a reluctant Dolittle is forced to set sail on an epic adventure to a mythical island in search of a cure, regaining his wit and courage as he crosses old adversaries and discovers wondrous creatures.',
   'popularity': 31.297,
   'poster_path': '/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg',
   'release_date': '2020-01-02',
   'title': 'Dolittle',
   'video': False,
   'vote_average': 6.6,
   'vote_count': 3454},
  {'adult': False,
   'backdrop_path': '/pQdZmXq0vvKP1RYUrDHQkzMlS4x.jpg',
   'genre_ids': [16, 28, 12, 14],
   'id': 571265,
   'original_language': 'ja',
   'original_title': 'デジモンアドベンチャー LAST EVOLUTION 絆',
   'overview': 'Tai is now a university student, living alone, working hard at school, and working every day, but with his future still undecided. Meanwhile, Matt and others continue to work on Digimon incidents and activities that help people with their partner Digimon. When an unprecedented phenomenon occurs, the DigiDestined discover that when they grow up, their relationship with their partner Digimon will come closer to an end.  As a countdown timer activates on the Digivice, they realize that the more they fight with their partner Digimon, the faster their bond breaks. Will they fight for others and lose their partner? The time to choose and decide is approaching fast. There is a short time before “chosen children” will become adults. This is the last adventure of Tai and Agumon.',
   'popularity': 26.556,
   'poster_path': '/z3l5iwWQLxcInVnNkC8k8hxqZ60.jpg',
   'release_date': '2020-02-21',
   'title': 'Digimon Adventure: Last Evolution Kizuna',
   'video': False,
   'vote_average': 8.1,
   'vote_count': 226},
  {'adult': False,
   'backdrop_path': '/9plj0RR5LJOQQ77ucRZzi88uRzY.jpg',
   'genre_ids': [99, 18],
   'id': 656690,
   'original_language': 'en',
   'original_title': 'The Social Dilemma',
   'overview': 'This documentary-drama hybrid explores the dangerous human impact of social networking, with tech experts sounding the alarm on their own creations.',
   'popularity': 38.502,
   'poster_path': '/jcaM6V2tCtu6iMHDsGLBUbaYgYp.jpg',
   'release_date': '2020-01-26',
   'title': 'The Social Dilemma',
   'video': False,
   'vote_average': 7.5,
   'vote_count': 1473},
  {'adult': False,
   'backdrop_path': '/tweDJNQzBGgsWVF5MC8JhSAk07p.jpg',
   'genre_ids': [53, 878, 27],
   'id': 570670,
   'original_language': 'en',
   'original_title': 'The Invisible Man',
   'overview': "When Cecilia's abusive ex takes his own life and leaves her his fortune, she suspects his death was a hoax. As a series of coincidences turn lethal, Cecilia works to prove that she is being hunted by someone nobody can see.",
   'popularity': 24.775,
   'poster_path': '/5EufsDwXdY2CVttYOk2WtYhgKpa.jpg',
   'release_date': '2020-02-26',
   'title': 'The Invisible Man',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 5383},
  {'adult': False,
   'backdrop_path': '/jeiVmutYPZyQRSYk7OvyWENGIrA.jpg',
   'genre_ids': [27, 9648, 53],
   'id': 555974,
   'original_language': 'en',
   'original_title': 'Brahms: The Boy II',
   'overview': 'After a family moves into the Heelshire Mansion, their young son soon makes friends with a life-like doll called Brahms.',
   'popularity': 33.464,
   'poster_path': '/tIpGQ9uuII7QVFF0GHCFTJFfXve.jpg',
   'release_date': '2020-02-20',
   'title': 'Brahms: The Boy II',
   'video': False,
   'vote_average': 6,
   'vote_count': 1180},
  {'adult': False,
   'backdrop_path': '/isBjNHBblzxrzHrAtRbjgkYzAut.jpg',
   'genre_ids': [10749, 18],
   'id': 664413,
   'original_language': 'pl',
   'original_title': '365 dni',
   'overview': 'A woman falls victim to a dominant mafia boss, who imprisons her and gives her one year to fall in love with him.',
   'popularity': 22.124,
   'poster_path': '/6KwrHucIE3CvNT7kTm2MAlZ4fYF.jpg',
   'release_date': '2020-02-07',
   'title': '365 Days',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 8553},
  {'adult': False,
   'backdrop_path': '/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg',
   'genre_ids': [10749, 18],
   'id': 342470,
   'original_language': 'en',
   'original_title': 'All the Bright Places',
   'overview': 'Two teens facing personal struggles form a powerful bond as they embark on a cathartic journey chronicling the wonders of Indiana.',
   'popularity': 32.524,
   'poster_path': '/4SafxuMKQiw4reBiWKVZJpJn80I.jpg',
   'release_date': '2020-02-28',
   'title': 'All the Bright Places',
   'video': False,
   'vote_average': 7.7,
   'vote_count': 2731},
  {'adult': False,
   'backdrop_path': '/4FbTBvNO3VTFbFFghipK7Jqz7I6.jpg',
   'genre_ids': [18],
   'id': 552532,
   'original_language': 'en',
   'original_title': 'Charm City Kings',
   'overview': 'Mouse desperately wants to join The Midnight Clique, the infamous Baltimore dirt bike riders who rule the summertime streets. When Midnight’s leader, Blax, takes 14-year-old Mouse under his wing, Mouse soon finds himself torn between the straight-and-narrow and a road filled with fast money and violence.',
   'popularity': 19.698,
   'poster_path': '/8oiMFMarbRpcusASIX4cjVXoZKI.jpg',
   'release_date': '2020-01-27',
   'title': 'Charm City Kings',
   'video': False,
   'vote_average': 7.9,
   'vote_count': 429}],
 'total_pages': 284,
 'total_results': 5671}

In [97]:
pd.DataFrame(data)

,page,results,total_pages,total_results
0,1,"{'adult': False, 'backdrop_path': '/7dCzb1oa7A...",284,5671
1,1,"{'adult': False, 'backdrop_path': '/stmYfCUGd8...",284,5671
2,1,"{'adult': False, 'backdrop_path': '/uozb2VeD87...",284,5671
3,1,"{'adult': False, 'backdrop_path': '/yFRpUmsreY...",284,5671
4,1,"{'adult': False, 'backdrop_path': '/3N316jUSdh...",284,5671
5,1,"{'adult': False, 'backdrop_path': '/tintsaQ0WL...",284,5671
6,1,"{'adult': False, 'backdrop_path': '/jRweromdBo...",284,5671
7,1,"{'adult': False, 'backdrop_path': '/ww7eC3BqSb...",284,5671
8,1,"{'adult': False, 'backdrop_path': None, 'genre...",284,5671
9,1,"{'adult': False, 'backdrop_path': '/xFxk4vnirO...",284,5671
10,1,"{'adult': False, 'backdrop_path': '/ySHlkHDbXz...",284,5671
11,1,"{'adult': False, 'backdrop_path': '/3pIqd1hgZ2...",284,5671
12,1,"{'adult': False, 'backdrop_path': '/AgkGh4epJy...",284,5671
13,1,"{'adult': False, 'backdrop_path': '/pQdZmXq0vv...",284,5671
14,1,"{'adult': False, 'backdrop_path': '/9plj0RR5LJ...",284,5671
15,1,"{'adult': False, 'backdrop_path': '/tweDJNQzBG...",284,5671
16,1,"{'adult': False, 'backdrop_path': '/jeiVmutYPZ...",284,5671
17,1,"{'adult': False, 'backdrop_path': '/isBjNHBblz...",284,5671
18,1,"{'adult': False, 'backdrop_path': '/tcrNJfyNEI...",284,5671
19,1,"{'adult': False, 'backdrop_path': '/4FbTBvNO3V...",284,5671

In [98]:
pd.DataFrame(data["results"])

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/7dCzb1oa7ACYi66VIrE1wqmftAa.jpg,[28],660521,en,The Mercenary,When a mission in South America goes wrong a m...,123.195,/p3wgefagejlefFEDsLRHiXU7NGu.jpg,2020-01-07,The Mercenary,False,6.3,23
1,False,/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg,"[28, 878, 35, 10751]",454626,en,Sonic the Hedgehog,"Powered with incredible speed, Sonic The Hedge...",90.644,/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg,2020-02-12,Sonic the Hedgehog,False,7.3,9028
2,False,/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg,"[28, 80]",495764,en,Birds of Prey (and the Fantabulous Emancipatio...,"Harley Quinn joins forces with a singer, an as...",66.644,/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg,2020-02-05,Birds of Prey (and the Fantabulous Emancipatio...,False,6.9,9787
3,False,/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg,"[12, 10751, 18]",481848,en,The Call of the Wild,Buck is a big-hearted dog whose blissful domes...,61.002,/33VdppGbeNxICrFUtW2WpGHvfYc.jpg,2020-02-19,The Call of the Wild,False,7.6,3465
4,False,/3N316jUSdhvPyYTW29G4v9ebbcS.jpg,"[53, 28, 80]",38700,en,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,53.585,/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg,2020-01-15,Bad Boys for Life,False,7.1,7638
5,False,/tintsaQ0WLzZsTMkTiqtMB3rfc8.jpg,"[28, 80, 35]",522627,en,The Gentlemen,American expat Mickey Pearson has built a high...,48.380,/jtrhTYB7xSrJxR1vusu99nvnZ1g.jpg,2020-01-01,The Gentlemen,False,7.7,5225
6,False,/jRweromdBoFchxYF6vn6E4wEJla.jpg,"[10749, 35]",565426,en,To All the Boys: P.S. I Still Love You,Lara Jean and Peter have just taken their roma...,40.881,/maib5VlmEqp5xlN8lptnBSftp2o.jpg,2020-02-12,To All the Boys: P.S. I Still Love You,False,6.9,2426
7,False,/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg,"[27, 878, 28, 12]",443791,en,Underwater,After an earthquake destroys their underwater ...,40.479,/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg,2020-01-08,Underwater,False,6.3,2873
8,False,None,[],678583,en,Some Be,,36.470,/qTwCz9Gjm7Lt8BBXygXar6mhKdN.jpg,2020-01-01,Some Be,False,5.0,2
9,False,/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg,"[10751, 16, 12, 35, 14]",508439,en,Onward,"In a suburban fantasy world, two teenage elf b...",37.522,/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg,2020-02-29,Onward,False,7.7,5790
10,False,/ySHlkHDbXztjdjRJ0pZN7FXRnaW.jpg,"[16, 12, 28, 14]",631132,ja,ゴブリンスレイヤー -GOBLIN'S CROWN-,Goblin Slayer and his party head up to the sno...,33.146,/oyDaF4za9C9GxfYSyZUmj2aZGJT.jpg,2020-02-01,Goblin Slayer -Goblin's Crown-,False,7.4,238
11,False,/3pIqd1hgZ2xqzWEyiYp4blqE9Fi.jpg,"[53, 36, 18]",522241,en,The Courier,Cold War spy Greville Wynne and his Russian so...,28.227,/zFIjKtZrzhmc7HecdFXXjsLR2Ig.jpg,2020-01-24,The Courier,False,7.0,1000
12,False,/AgkGh4epJyhvs9JqSEUVABz1gJh.jpg,"[10751, 35, 14, 12]",448119,en,Dolittle,"After losing his wife seven years earlier, the...",31.297,/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg,2020-01-02,Dolittle,False,6.6,3454
13,False,/pQdZmXq0vvKP1RYUrDHQkzMlS4x.jpg,"[16, 28, 12, 14]",571265,ja,デジモンアドベンチャー LAST EVOLUTION 絆,"Tai is now a university student, living alone,...",26.556,/z3l5iwWQLxcInVnNkC8k8hxqZ60.jpg,2020-02-21,Digimon Adventure: Last Evolution Kizuna,False,8.1,226
14,False,/9plj0RR5LJOQQ77ucRZzi88uRzY.jpg,"[99, 18]",656690,en,The Social Dilemma,This documentary-drama hybrid explores the dan...,38.502,/jcaM6V2tCtu6iMHDsGLBUbaYgYp.jpg,2020-01-26,The Social Dilemma,False,7.5,1473
15,False,/tweDJNQzBGgsWVF5MC8JhSAk07p.jpg,"[53, 878, 27]",570670,en,The Invisible Man,When Cecilia's abusive ex takes his own life a...,24.775,/5EufsDwXdY2CVttYOk2WtYhgKpa.jpg,2020-02-26,The Invisible Man,False,7.1,5383
16,False,/jeiVmutYPZyQRSYk7OvyWENGIrA.jpg,"[27, 9648, 53]",555974,en,Brahms: The Boy II,After a family moves into the Heelshire Mansio...,33.464,/tIpGQ9uuII7QVFF0GHCFTJFfXve.jpg,2020-02-20,Brahms: The Boy II,False,6.0,1180
17,False,/isBjNHBblzxrzHrAtRbjgkYzAut.jpg,"[10749, 18]",664413,pl,365 dni,"A woman falls victim to a dominant mafia boss,...",22.124,/6KwrHucIE3CvNT7kTm2MAlZ4fYF.jpg,2020-02-07,365 Days,False,7.1,8553
18,False,/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg,"[10749, 18]",342470,en,All the Bright Places,Two teens facing personal struggles form a pow...,32.524,/4SafxuMKQiw4reBiWKVZJpJn80I.jpg,2020-02-28,All the Bright Places,False,7.7,2731
19,False,/4FbTBvNO3VTFbFFghipK7Jqz7I6.jpg,[18],552532,en,Charm City Kings,Mouse desperately wants to join The Midnight C...,19.698,/8oiMFMarbRpcusASIX4cjVXoZKI.jpg,2020-01-27,Charm City Kings,False,7.9,429

##  Importing and Saving the Movies Dataset (Best Practice)

In [99]:
import  pandas as pd 
import requests
import json 
pd.options.display.max_columns=30

In [ ]:
movie_id=[0, 299534, 19995, 140607, 299536, 597, 135397,
            420818, 24428, 168259, 99861, 284054, 12445,
            181808, 330457, 351286, 109445, 321612, 260513]

In [104]:
basic_url='https://api.themoviedb.org/3/movie/{}?{}'

In [108]:
json_list=[]
for movie in movie_id:
    url=basic_url.format(movie,api_key)
    r=requests.get(url)
    if r.status_code !=200:
        continue
    else:
        data=r.json()
        json_list.append(data)
df=pd.DataFrame(json_list)

TypeError: 'int' object is not iterable

In [106]:
requests.get(basic_url.format(0,api_key))  # status_code

##  Importing and Saving the Movies Dataset (Real World Scenario)

In [111]:
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,71.652,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/tlVSws0RvvtPBwViUyOF...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.289,18563

In [112]:
df.to_csv("movies_raw.csv", index=False)

In [115]:
df=pd.read_csv("movies_raw.csv")

In [116]:
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,71.652,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/tlVSws0RvvtPBwViUyOF...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.289,18563

In [118]:
df.genres[0]

"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 878, 'name': 'Science Fiction'}]"